.u-section-1 .u-sheet-1 {
  min-height: 539px;
}

.u-section-1 .u-text-1 {
  margin: 38px auto 0 81px;
}

.u-section-1 .u-line-1 {
  width: 979px;
  top: 89px;
  transform-origin: left center 0px;
  position: absolute;
}

.u-section-1 .u-list-1 {
  width: 1004px;
  margin: 33px auto 57px 48px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 6px auto 0 27px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 11px auto 0 27px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 6px auto 0 27px;
}

.u-section-1 .u-text-5 {
  margin: 11px auto 0 27px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  margin: 6px auto 0 27px;
}

.u-section-1 .u-text-7 {
  margin: 11px auto 0 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
    left: auto;
    right: 72px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}