.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 38px auto 0 90px;
}

.u-section-1 .u-line-1 {
  width: 979px;
  top: 89px;
  transform-origin: left center 0px;
  position: absolute;
}

.u-section-1 .u-text-2 {
  margin: -28px 98px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 78px auto 60px 81px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
    left: auto;
    right: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2735px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -21px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 57px;
    margin-left: 17px;
    margin-right: 17px;
  }
}