.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/Scan.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 68px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 59px;
  min-height: 16px;
  width: 196px;
  min-width: 68px;
  margin: 30px 430px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 59px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 45px 0 43px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 488px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-group-1 {
  width: 256px;
  min-height: 179px;
  height: auto;
  margin: 30px 22px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-shape-1 {
  width: 42px;
  height: 42px;
  margin: -190px auto 0 22px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-2 .u-group-2 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  height: auto;
  margin: 30px 22px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-shape-2 {
  width: 42px;
  height: 42px;
  margin: -190px auto 0 22px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-2 .u-group-3 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  height: auto;
  margin: 30px 22px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-7 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-shape-3 {
  width: 42px;
  height: 42px;
  margin: -190px auto 0 22px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-2 .u-group-4 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  height: auto;
  margin: 30px 22px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-9 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-shape-4 {
  width: 42px;
  height: 42px;
  margin: -190px auto 0 22px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 20px;
}

.u-section-2 .u-group-5 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  height: auto;
  margin: 30px 22px 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-11 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-shape-5 {
  width: 42px;
  height: 42px;
  margin: -190px auto 0 22px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 20px;
}

.u-section-2 .u-group-6 {
  width: 256px;
  min-height: 179px;
  background-size: auto;
  height: auto;
  margin: 30px 22px 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-13 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-shape-6 {
  width: 42px;
  height: 42px;
  margin: -190px auto 0 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 201px;
    min-height: 203px;
    margin-left: 49px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 16px;
  }

  .u-section-2 .u-group-2 {
    width: 201px;
    min-height: 203px;
    margin-left: 49px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 16px;
  }

  .u-section-2 .u-group-3 {
    width: 201px;
    min-height: 203px;
    margin-left: 49px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 16px;
  }

  .u-section-2 .u-group-4 {
    width: 201px;
    min-height: 203px;
    margin-left: 49px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 16px;
  }

  .u-section-2 .u-group-5 {
    width: 201px;
    min-height: 203px;
    margin-left: 49px;
    height: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 16px;
  }

  .u-section-2 .u-group-6 {
    width: 201px;
    min-height: 203px;
    margin-left: 49px;
    height: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 20px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-group-1 {
    width: 243px;
    min-height: 166px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 243px;
    min-height: 166px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 243px;
    min-height: 166px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 20px;
  }

  .u-section-2 .u-group-4 {
    width: 243px;
    min-height: 166px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 20px;
  }

  .u-section-2 .u-group-5 {
    width: 243px;
    min-height: 166px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 20px;
  }

  .u-section-2 .u-group-6 {
    width: 243px;
    min-height: 166px;
    margin-left: 53px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 22px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 443px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 22px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 443px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 22px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 443px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 22px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    width: 443px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 22px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-6 {
    width: 443px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 13px;
    margin-bottom: 60px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1176px;
  }

  .u-section-2 .u-group-1 {
    width: 235px;
    margin-top: 43px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -174px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-2 {
    width: 235px;
    margin-top: 43px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -174px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-3 {
    width: 235px;
    margin-top: 43px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -174px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-4 {
    width: 235px;
    margin-top: 43px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -174px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-5 {
    width: 235px;
    margin-top: 43px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -174px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-6 {
    width: 235px;
    margin-top: 43px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: -174px;
    margin-left: 26px;
  }
}