.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 51px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 31px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 31px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}